/* Wrapper Styles */
.back-gray-dark{
  background: #222;
}

/* Elements */
#top-header{
  border-bottom: solid 10px #9fb03e;
}
#logo{
  height: 45px;
  width: 45px;
  margin: 10px 0;
}
#main-nav{
}
#main-nav ul{
  float: right;
  margin: 0px;
}
#main-nav ul li{
  display: inline;
}
#main-nav ul li a{
  display: block;
  float: left;
  line-height: 25px;
  padding: 20px 10px;
  color: #9fb03e;
}